/* TWITCHEDIT COPYRIGHT © 2019 KIERAN (SHERMANZERO) SHERMAN */

/* The standard class */
.twitchedit {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* The box which gets highlighted on hover */
.twitchedit_highlight-box {
  width: 25px;
  height: 25px;
  margin: auto;
}

/* Tooltip container */
.twitchedit_tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.twitchedit_tooltip .twitchedit_tooltip-text {
  visibility: hidden;
  width: 34px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 1px 0;
  border-radius: 4px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -18px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.twitchedit_tooltip .twitchedit_tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.twitchedit_tooltip:hover .twitchedit_tooltip-text {
  visibility: visible;
  opacity: 1;
}

.twitchedit:hover {

}
