/* TWITCHEDIT COPYRIGHT © 2019 KIERAN (SHERMANZERO) SHERMAN */

.twitchedit-clip {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.twitchedit_clip_button {
  width: 21px;
  height: 21px;
  outline: none;
  background: transparent
}

img:hover {
  filter: brightness(0) saturate(100%) invert(82%) sepia(24%) saturate(4168%) hue-rotate(198deg) brightness(89%) contrast(83%);
}
